<h2 class="col-xs-offset-5">Participant's detail</h2>
<form class="form-horizontal" role="form">
    <div class="form-group">
        <label for="inputFirstName" class="col-sm-2 control-label">First name</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" id="inputFirstName" readonly ng-model="participant.firstName">
        </div>
    </div>
    <div class="form-group">
        <label for="inputLastName" class="col-sm-2 control-label">Last name</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" id="inputLastName" readonly ng-model="participant.lastName">
        </div>
    </div>
    <div class="form-group">
        <label for="inputEmail" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-8">
            <input type="email" class="form-control" id="inputEmail" readonly ng-model="participant.email">
        </div>
    </div>
    <div class="form-group">
        <label for="inputIncome" class="col-sm-2 control-label">Income</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" id="inputIncome" readonly ng-model="participant.income">
        </div>
    </div>
    <div class="form-group">
        <label for="inputCompany" class="col-sm-2 control-label">Company</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" id="inputCompany" readonly ng-model="participant.company">
        </div>
    </div>
    <div class="form-group">
        <label for="inputAge" class="col-sm-2 control-label">Age</label>
        <div class="col-sm-8">
            <input type="number" class="form-control" id="inputAge" readonly ng-model="participant.age">
        </div>
    </div>
</form>