<div>
    <h1>Welcome to brownbag session on AngularJS Zen!</h1>
    <table class="table table-hover">
        <thead>
        <th>Name</th>
        <th>Age</th>
        <th>Gender</th>
        <th>Income</th>
        </thead>
        <tbody class="">
        <tr ng-repeat="p in participants | filter:search " ng-click="showDetails(p.id)">
            <td>{{ p.name }}</td>
            <td>{{ p.age }}</td>
            <td>{{ p.gender }}</td>
            <td>{{ p.income | currency }}</td>
        </tr>
        </tbody>
    </table>

    <div>
        Search for participants: <input type="text" ng-model="search"/>
    </div>
</div>